@import 'header';
@import 'footer';
@import 'sidebar';
@import 'banner';
@import 'card';
@import 'headings';
@import 'links';
@import 'overlay';
// @import 'inputs';
// @import 'waves';
@import 'buttons';
@import 'sidenav';
@import 'product';
