//Banner Stylings

.banner {
  position: relative;
  // padding: 80px 0 70px 0;
  min-height: 400px;
  height: 100vh;

  @media (min-width: $sm) {
    height: 550px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.7;
  }

  &--home {
    // background: url('../assets/img/banner-img.png') no-repeat;
    // background-position: left center;
    // background-size: cover;

    @media (min-width: $sm) {
      height: 600px;
    }

    @media (min-width: $md) {
      height: 650px;
    }
  }

  &--about {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 30;
      background-color: $b0;
      opacity: 0.5;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;

    @media (min-width: $sm) {
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 30;
    display: flex;
    padding: 40px 30px 20px 40px;
    flex-direction: column;
    height: 50%;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      z-index: 10;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $py;
      opacity: 0.8;
    }

    @media (min-width: $sm) {
      height: 100%;
    }
  }
}


.banner-heading {
  color: $w;
  z-index: 40;
  font-size: 30px;
  font-family: $osw;
  text-transform: capitalize;

  @media (min-width: $sm) {
    font-size: 40px;
  }

  @media (min-width: $md) {
    font-size: 45px;
  }

  @media (min-width: $lg) {
    font-size: 50px;
  }
}

.banner-subheading {
  font-family: $osw;
  font-size: 20px;
  color: $w;
  text-transform: capitalize;
  letter-spacing: 0.42px;

  @media (min-width: $sm) {
    font-size: 25px;
  }
}
