//Button Modules

.button {
  display: inline-block;
  border-top-left-radius: 31px;
  border-bottom-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-right-radius: 31px;
  border: 1px solid $py;
  padding: 10px 25px;
  font-family: $osw;
  font-weight: 300;
  font-size: 12px;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease;

  &,
  &:focus,
  &:hover {
    color: $b0;
  }

  &:focus,
  &:hover {
    opacity: 1;
    transform: translateY(-2px);
  }

  &--yellow {
    color: $w;
    padding: 15px 30px;
    background-color: $py;
    // box-shadow: 0 0 8px rgba(255, 202, 3, 1);
  }
}
