//Card Stylings

.card {
  background-color: $w;
  padding: 20px;
  box-shadow: 0 0 36px 2px rgba(0, 0, 0, 0.1);

  @media (min-width: $sm) {
    padding: 30px 40px;
  }

  &--about {
    max-width: 700px;
    margin-top: -80px;
    padding: 20px 30px 30px 30px;

    @media (min-width: $sm) {
      padding: 40px 60px 60px 60px;
    }

    @media (min-width: $md) {
      padding: 50px 80px 80px 80px;
    }
  }

  &--product {
    padding: 20px;

    @media (min-width: $sm) {
      padding: 30px;
    }
  }

  &--timeline {
    max-width: 700px;
    margin: 0 auto;
  }
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
