//Banner Custom Stylings

.banner-slider {
  margin-top: auto;
  margin-bottom: 50px;
  z-index: 25;

  &__heading {
    font-family: $osw;
    font-weight: 300;
    color: $w;
    letter-spacing: 0.42px;
    font-size: 18px;
    margin-bottom: 20px;

    @media (min-width: $sm) {
      font-size: 21px;
    }

    @media (min-width: $md) {
      font-size: 25px;
    }
  }

  .slick-dots {
    text-align: left;

    li {
      width: 10px;
      height: 10px;

      @media (min-width: $sm) {
        width: 14px;
        height: 14px;
      }

      button {
        width: 10px;
        height: 10px;

        @media (min-width: $sm) {
          width: 14px;
          height: 14px;
        }

        &::before {
          width: 10px;
          height: 10px;

          @media (min-width: $sm) {
            width: 14px;
            height: 14px;
          }

          opacity: 0.1;
          font-size: 0;
          border: 1px solid $b0;
          background-color: #000000;
        }
      }

      &.slick-active {
        button {
          &::before {
            opacity: 0.4;
            border: 1px solid #b89100;
          }
        }
      }
    }
  }

}

.banner-content {
  max-width: 400px;
  margin-right: auto;

  &__data {
    color: $w;
    font-weight: 400;
    font-family: $osw;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;

    @media (min-width: $sm) {
      font-size: 30px;
    }

    @media (min-width: $md) {
      margin-bottom: 80px;
      font-size: 35px;
    }

    @media (min-width: $lg) {
      margin-bottom: 100px;
      // font-size: 45px;
    }

    span {
      font-weight: 600;
      display: block;
      font-size: 30px;

      @media (min-width: $sm) {
        font-size: 35px;
      }

      @media (min-width: $md) {
        font-size: 45px;
      }

      @media (min-width: $lg) {
        font-size: 50px;
      }
    }
  }
}
