.products {
  padding: 50px 20px;

  @media (min-width: $sm) {
    padding: 60px 40px;
  }

  @media (min-width: $md) {
    padding: 80px 40px;
  }

  @media (min-width: $lg) {
    padding: 100px 40px;
  }
}

.product-container {
  max-width: 950px;
  margin: 0 auto;

  .row {
    @media (min-width: $sm) {
      margin-bottom: 80px !important;
    }

    @media (min-width: $md) {
      margin-bottom: 120px !important;
    }
  }
}

.product-data-wrapper,
.product-img-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.product-img-wrapper {
  align-items: center;
  justify-content: center;
}

.product-data-wrapper {
  justify-content: center;
}

.product-desc {
  font-family: $roboto;
  font-size: 16px;
  color: $b0;
  line-height: 28px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 30px;

  span {
    font-weight: 600;
  }

  @media (min-width: $sm) {
    font-size: 20px;
    line-height: 37px;
  }
}
