/*
Color Codes
*/
$py: #ffca03;
$w: #ffffff;
$b0: #000000;

/*
  Media Query Breakpoints
*/
$xs: 475px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xlg: 1440px;

/*
 Media Query Breakpoints end
*/

/*
 Fonts Start
*/

$osw: 'Oswald', sans-serif;
$sspro: 'Source Sans Pro', sans-serif;
